---
import Layout from "../layouts/Layout.astro";

const card = {
    img: "https://cdn.pixabay.com/photo/2017/07/25/01/22/cat-2536662__480.jpg",
    title: "Title Here",
    description:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
};

const cardTypes = [
    {
        title: "Minimal",
        styles: ["minimal", "minimal-rounded", "minimal-layered"],
    },
    {
        title: "Flat",
        styles: ["flat", "flat-rounded"],
    },
    {
        title: "Neobrutal",
        styles: ["neobrutal", "neobrutal-dark"],
    },
];
---

<Layout>
    <main>
        <h1>Card Examples</h1>
        <div id="cards">
            {
                cardTypes.map((type) => (
                    <div class="card-types">
                        <h2>{type.title}</h2>
                        <div class="cards">
                            {type.styles.map((style) => (
                                <div class={`card card-${style}`}>
                                    <img src={card.img} />
                                    <div class="content">
                                        <p class="title">{card.title}</p>
                                        <p class="description">
                                            {card.description}
                                        </p>
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
                ))
            }
        </div>
    </main>
    <footer>
        <p>Made by <a href="https://bio.cathzchen.com">Catherine Chen</a>.</p>
    </footer>
</Layout>

<style>
    main,
    footer {
        @apply mx-12;
    }
    main {
        @apply my-12;
    }
    footer {
        @apply mt-16 mb-6;
        a {
            @apply underline;
        }
    }
    h1 {
        @apply text-2xl font-medium mb-10;
    }
    #cards {
        @apply space-y-12;
    }
    .card-types {
        h2 {
            @apply text-xl font-medium mb-6;
        }
    }
    .cards {
        @apply grid grid-cols-4 gap-8;
    }
    .card {
        @apply overflow-hidden;
        img {
            @apply w-full object-cover object-center h-44;
        }
        .content {
            @apply py-4 px-6;
            .title {
                @apply text-lg font-medium mb-2;
            }
            .description {
            }
        }
    }
    /*
	 *  Different Types of Cards
	 */
    .card-minimal,
    .card-minimal-rounded,
    .card-minimal-layered {
        @apply shadow-lg;
    }
    .card-minimal-rounded {
        @apply rounded-lg;
    }
    .card-minimal-layered {
        img {
            @apply rounded-lg shadow-sm;
        }
    }
    .card-flat,
    .card-flat-rounded {
        @apply border-2 border-slate-200;
    }
    .card-flat-rounded {
        @apply rounded-lg;
    }
    .card-neobrutal,
    .card-neobrutal-dark {
        @apply shadow-hard border-4 border-green-600;
    }
    .card-neobrutal-dark {
        .content {
            @apply text-white bg-black;
        }
    }

    @media (max-width: theme("screens.lg")) {
        .cards {
            @apply grid-cols-3;
        }
    }
    @media (max-width: theme("screens.md")) {
        main,
        footer {
            @apply mx-10;
        }
        .cards {
            @apply grid-cols-2;
        }
    }
    @media (max-width: theme("screens.sm")) {
        main,
        footer {
            @apply mx-6;
        }
        .cards {
            @apply grid-cols-1;
        }
    }
</style>
